html {
  scroll-behavior: smooth;
}

.shadowPicture img {
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.description p, .description ul li, .description ol li {
 line-height: 1.425em;
 font-size: 1.142em;
}

.ui.embed>.icon:before {
  color: #ff0000;
}